*{
    margin: 0px;
    padding: 0px;
}

.logo-photo{
    height: 20px;
    width: 100px;
    }
    .menu-container
    {padding: 16px;
        justify-content: space-around;
        background-color: wheat;
        display: flex; align-items: center;
    }
    .home
    {        display: flex;
        
    }
    .iteam { 
        margin-left: 10px;
       padding: 10px;
       cursor: pointer;
    }
    .iteam:hover
    { 
        color: aquamarine;
    }
    .sent { align-items: center;
        background-color: rgb(39, 38, 38);
      height: 100vh ;
      color: aliceblue;
      display: flex;
      justify-content: space-around;
    }
    .image{
       width: 500px;
        justify-content: end;
    }
    .ami{
        font-size: 60px;
font-weight: bolder;    }

.riik{
    cursor: pointer;
}
.riik:hover
{ 
    color: aquamarine;
}
.line
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
}
.chobi{
    width: 350px;
}
#maj{
 text-align: center;
font-size: 70px;
margin: 20px;
}
.mainmalik{
    background-color: aquamarine;
    height: 100vh;
}

.bt{
    color: chartreuse;
    background-color: cornflowerblue;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.bt:hover { color: darkgreen;
}