*{
    margin: 0px;
    padding: 0px;
}

.logo-photo{
    height: 40px;
    width: 140px;
    }
    .menu-container
    {padding: 50px;
        justify-content: space-around;
        background-color: wheat; margin-left: 10px;
        display: flex; align-items: center;
    }
    .home
    {        display: flex;
        
    }
    .iteam { 
        margin-left: 10px;
       padding: 10px;
       cursor: pointer;
    }
    .iteam:hover
    { 
        color: aquamarine;
    }
    .sent { align-items: center;
        background-color: rgb(39, 38, 38);
      height: 100vh ;
      color: aliceblue;
      display: flex;
      justify-content: space-around;
    }
    .image{
       width: 500px;
        justify-content: end;
    }
    .ami{
        font-size: 48px;
font-weight: bolder;    }

.riik{
    cursor: pointer;
    background-color: brown;
    padding: 10px;
    border: none;
}
.riik:hover
{ 
    color: aquamarine;
}
.line
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
.chobi{
    width: 350px;
}
#maj{
 text-align: center;
font-size: 70px;
padding: 50px;


}
.mainmalik{
    background-color: aquamarine;
    height: 100vh;
}

.bt{
    color: chartreuse;
    background-color: cornflowerblue;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.bt:hover { color: darkgreen;
}
.border1{
    border: 3px solid black;
    width: 200px; 

    padding: 10px;margin: 20px;
}
.border2{
    border: 3px solid black;width: 200px;
    margin: 20px; padding: 10px;
}

.border3{
    border: 3px solid black;width: 200px;padding: 10px;margin: 20px;

}


.kaka{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.b1{
    cursor: pointer; text-align: center;
}
.b1:hover{ 
    color: aquamarine;text-align: center;
}
.b2{
    cursor: pointer;text-align: center;
}
.b2:hover{
    color: aquamarine;
}
.b3{
    cursor: pointer;text-align: center;
}
.b3:hover{
    color: aquamarine;
}
.banker{ background-color: burlywood;
    height: 100vh;

}
.same{
    font-size: 80px;
    font-weight: 900;
    font-style: inherit;
    text-align: center;
   padding: 40px;
  

  
}
.color {
    text-decoration: underline;
    color: blue;
}
.colorr {
    text-decoration: underline;color: blue;
}
.colorrr {
    text-decoration: underline;color: blue;
}
.one{ display: flex;
    align-items: center;
    justify-content: center;margin-top: 10px;
    margin-bottom: 10px;
}
.two{ display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
.three{ display: flex;
    align-items: center;
    justify-content: center;margin-top: 10px;
    margin-bottom: 10px;
}
.footer-container{
display: flex;
justify-content: space-around;
    height: 25%;
    width: 100%;
    background-color: black;
}
.f1{
    width: 100px;
    border: none;
    padding: 5px;
    background-color: black;
    color: aliceblue;margin: 20px;
}
.f2{
    width: 100px;
    border: none;
    padding: 5px;
    background-color: black;
    color: aliceblue;margin: 20px;
}
.f3{
    width: 100px;
    border: none;
    padding: 5px;
    background-color: black;
    color: aliceblue;margin: 20px;
}
.f4{
    width: 100px;
    border: none;
    padding: 5px;margin: 20px;
    background-color: black;
    color: aliceblue;
}